body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000716;
  color: #fff;
}

.board {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.title{
  justify-content: center;
  display: flex;
  margin-bottom: 1px;
}
.conteiner {
  text-align: center;
  padding: 2em;
}
.app-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, #4F46E5, #22D3EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-title:hover {
  color: #022f35;
  text-shadow: 0 0 8px #0193a7;
}
.column {
  margin-top: 6em;
  background-color: #0A0F1A;
  padding: 2rem;
  border-radius: 10px;
  width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.column h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.column:hover {
  transform: scale(1.02);
  background-color: #001542;
  transition: all 0.3s ease;
}

.card {
  background-color: #111827;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #111827;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.06);
  background-color: #1E293B;
}
.add-btn {
  background-color: #334155;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  transition: background 0.3s ease;
  justify-content: center;
}

.add-btn:hover {
  background-color: #475569;
  transform: scale(1.06);
}